<cfmail from="noreply@mustrememberthat.com" to="James@maisyweb.co.uk" subject="Must Remember That Password Reset" username="noreply@mustrememberthat.com" password="Popesabbots1!" type="html" >
	JP Test
</cfmail>
<cfdump var="#rc#"><cfabort>