<h3>Thank You</h3>
<p>You are now an active member of <cfoutput>#rc.qGetGroup.title#</cfoutput> group</p>
<a href="<cfoutput>/groups/#rc.qGetGroup.urlSlug#/</cfoutput>" class="btn btn-primary">Go to group</a>