<cfquery name="qReminder">    
  SELECT * 
  FROM	tbl_reminders
  WHERE reminderId = '#url.rid#'
</cfquery>

<cfquery name="user">    
  SELECT * 
  FROM	tbl_users
  WHERE userId = '#url.uid#'
</cfquery>

<cfdump var="#qReminder#">
<cfdump var="#user#"><cfabort>

<cfmail from="noreply@mustrememberthat.com" to="#user.emailAddress#" subject="#reminder.title# - #DateFormat(reminder.eventDate, "ddd d mmm yyyy")#" username="noreply@mustrememberthat.com" password="Popesabbots1!" priority="1"  type="html">
  <table width="90%">
    <tr>
      <td style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px;">
        <strong>REMINDER:</strong><br>
        <strong>#reminder.title# - #DateFormat(reminder.eventDate, "ddd d mmm yyyy")#</strong><br>
        <br>
        <a href="http://www.mustrememberthat.com/">Add New Reminder</a><br>
        <br>
        <a href="http://www.mustrememberthat.com/">Update Your Account</a>
      </td>
    </tr>
  </table>

</cfmail>

<!--- Push Message --->  
<cfhttp url="https://api.parse.com/1/push" method="post" resolveurl="true" result="httpResp" timeout="60">
  <cfhttpparam type="header" name="X-Parse-Application-Id" value="4N3zuvICV8jLeaAQwNgn0dRVd5SeHjyJ98R8MiMx" />
  <cfhttpparam type="header" name="X-Parse-REST-API-Key" value="EuXqEOVMXCCrBid3QCRkUIhAmOf4Zyt9hxmINEPN" />
  <cfhttpparam type="header" name="Content-Type" value="application/json" />
  <cfhttpparam type="body" value='{"where": {"userId": "#user.remoteId#"},"data": {"date":"#DateFormat(reminder.eventDate, "dd mmm yyyy")#", "alert": "#reminder.title#", "content-available": "1", "sound": "default", "badge": "increment"}}'/ >
  <!---<cfhttpparam type="body" value="#serializeJSON(PUSHMESSAGE)#">--->
</cfhttp>
