body {
	margin: 0;
	padding: 0;
	background: #eee;
}

.jcropper-holder { border: 1px black solid; }

.profileImages img{
	border: 1px #2e3191 solid;
}

#outer {
	text-align: center;
	height: 500px;
}

.imageContainer {
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
		
}


form {
	margin: 1.5em 0;
}

.imageContainer p { 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 90%;
}

div#croppedImage {
	margin-bottom:15px;
}

div#thumbs {
	float: right; 
	margin-top: -390px;
	margin-right: 20px;
	width: 150px;
}

ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
	width: 80px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 110px;
	height: 110px;
}
ul.thumb li img {
	width: 100px; height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0; top: 0;
}
ul.thumb li img.hover {
	background:url(thumb_bg.png) no-repeat center center;  /* Image used as background on hover effect
	border: none; /* Get rid of border on hover */
}